.caveret-logo {
    width: 350px;
}

.signup-title {
    margin-top: 0px;
    text-align: center;
    color: rgb(9, 191, 9)
}

.signup-input-container {
    margin: auto;
    margin-bottom: 20px;
}

.signup-response {
    text-align: center;
    color: red;
}