.signup-input-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 4px;
    column-gap: 10px;
    row-gap: 10px;
}

.username-input,
.password-input,
.signup-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}

.signup-button {
    background-color: rgb(9, 191, 9);
    color: white;
    cursor: pointer;
    height: 50px;
}